<% layout('layouts/boilerplate') %>

<body class="d-flex flex-column vh-100">

<div class="service-text"></div>

    <h1>لوحة تحكم مالك</h1>

</div>
<br>
<a href="/events/calendars">Calendar list</a>
</body>