<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/styles.css">

<body class="d-flex flex-column">
    <h1 class="btn-login"><%= calendar.name %></h1>

<input type="hidden" id="calendar-id" value="<%= calendar._id %>">

<div class="calendar-nav">
    <button id="prev-month" class="btn load-trigger">السابق</button>
    
    <!-- Month Dropdown -->
    <select id="month-dropdown">
        <option value="0" class="load-trigger">يناير</option>
        <option value="1" class="load-trigger">فبراير</option>
        <option value="2" class="load-trigger">مارس</option>
        <option value="3" class="load-trigger">ابريل</option>
        <option value="4" class="load-trigger">مايو</option>
        <option value="5" class="load-trigger">يونيو</option>
        <option value="6" class="load-trigger">يوليو</option>
        <option value="7" class="load-trigger">اغسطس</option>
        <option value="8" class="load-trigger">سبتمبر</option>
        <option value="9" class="load-trigger">اكتوبر</option>
        <option value="10" class="load-trigger">نوفمبر</option>
        <option value="11" class="load-trigger">ديسمبر</option>
    </select>
    
    <!-- Year Dropdown -->
    <select id="year-dropdown"></select>
    
    <button id="next-month" class="btn load-trigger">التالي</button>
</div>

<div class="event-type-switch">
    <button class="btn load-trigger" id="show-going">مواعيد الذهاب</button>
    <button class="btn load-trigger" id="show-return">مواعيد العودة</button>
</div>

<table id="calendar" class="calendar-day"></table>

<h3 id="event-type"></h3>
<br>
<h3 id="selected-date"></h3>

<div id="event-list"></div>


<% if(currentUser.type === "owner") { %>
    <a href="/events/add-event" class="btn">فتح ميعاد جديد</a>
<% } %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascripts/calendar.js"></script>
<script>
    const userType = '<%= currentUser ? currentUser.type : "" %>';
</script>
</body>