<% layout('layouts/boilerplate')%>

<div class="container">

    <div class="row align-items-center justify-content-center">

        <div class="col-sm">

            <div class="card">

                <div class="card-body">

                    <h5 class="card-title">تذكرة كاملة</h5>
                    <a href="/fullServices/new" class="btn">اضغط هنا</a>
    
                </div>

            </div>
        
        </div>

        <div class="col-sm">

            <div class="card">

                <div class="card-body">

                    <h5 class="card-title">نصف تذكرة</h5>
                    <a href="/halfServices/new" class="btn">اضغط هنا</a>

                </div>

            </div>

        </div>

    </div>

</div>